::selection {
  text-shadow: none;
  color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
}

::-moz-selection {
  text-shadow: none;
  color: rgba(0,0,0,0);
  background: rgba(0,0,0,0); 
}

.st-content {
	overflow: hidden;
}

/*.centralize {
    position: absolute;
    left: 50%;
    top: 50%;
}*/

#game-wrapper {
  width: 100%;
}

.box {
  /*display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -moz-box;
     -moz-box-orient: vertical;
     -moz-box-align: center;
     -moz-box-pack: center;
  display: -ms-box;
      -ms-box-orient: vertical;
      -ms-box-align: center;
      -ms-box-pack: center;
  display: box;
          box-orient: vertical;
          box-align: center;
          box-pack: center;
  width: 100%;*/
}

.game-board {
  margin: 0 auto;
  opacity: 0;
}

.game-board.fadeIn {	
	-webkit-transition: 2.5s;
	-moz-transition: 2.5s;
	-ms-transition: 2.5s;
	-o-transition: 2.5s;
	transition: 2.5s;
  opacity: 1;
}

.button-container {
    text-align: center;
}

.st-menu {
	height: 95%;
}

#wrap {
    margin: 0 auto -60px;
    min-height: 100%;
    overflow: hidden;
    height: 100%;
    background: #f3efe0;
}

#footer {
    background: #121212;
    position: relative;
}
@media (max-height: 450px) {
    #footer {
      visibility: hidden; } 
     }

#footer .container {
    margin-top: 35px;
    text-align: center;
}
#push, #footer {
    height: 25px;
    z-index: 999;
}